{{'product-card.css' | asset_url | stylesheet_tag}}

{% liquid 
  assign image = product.featured_image 
  assign compare_price = product.compare_at_price | default: 0
  assign price = product.price
  assign discount_percentage = compare_price | minus: price | times: 100.0 |  divided_by: compare_price | round
  assign rating = product.metafields.okendo.summaryData
  assign vendor = product.vendor
  assign title = product.title
  assign tags = product.tags | join: ','
  assign bestseller = false
  assign onsale = false
  if tags contains 'bestseller' 
   assign bestseller = true
  endif
  if tags contains 'onsale' 
    assign onsale = false
 endif
 assign is_promotion = product.metafields.promotion.is_promotion
 if is_promotion 
  assign promotion_id = product.metafields.promotion.name | handleize
  assign promotion_name = product.metafields.promotion.name
  assign creative_name = product.metafields.promotion.creative_name
 endif
%}
<product-card>
  <div class="product-card" data-redirect-click data-js-click data-redirect-click data-url="{{product.url}}" 
    {% if is_promotion and promotion_name %}
       data-promotion 
       data-promotion-name = "{{ promotion_name }}"
       data-promotion-id = "{{ promotion_id }}"
       data-creative-name = "{{ creative_name }}"
    {% endif %}
    >
    <div class="product-card__body">
      <div class="product-card__image">
        {% assign image = image | default: images['placeholderImage.webp'] %}
        {% render 'shopify-responsive-image' , image: image , aspect_ratio: 1, contain: true, background: true  %} 
      </div>
      <div class="product-card__header">
        <div class="product-card__header-tags">
          {% if discount_percentage > 0 %}<div class="product-card__discount">{{discount_percentage}}% off </div> {% endif %}
          {% if bestseller %}<div class="product-card__discount"> Best Seller </div> {% endif %}
          {% if onsale %}<div class="product-card__discount"> On Sale </div> {% endif %}
        </div>
        {% if rating.reviewAverageValue %}
          <div class="product-card__star">{% render 'icon-star' %}<span class="product-card__star-text">{{ rating.reviewAverageValue }}</span></div> 
        {% endif %}
      </div>
      {% if vendor %}
        <div class="product-card__vendor">
        {{vendor}}
        </div>
      {% endif %}
        <div class="product-card__title">
        {{title}}
        </div>
    </div>
    <div class="product-card__footer">
      <div class="product-card__price-container">
        {% if discount_percentage > 0 %}<div  class=" product-card__price product-card__price--compare ">{{ compare_price | money_with_currency }}</div> {% endif %}
        <div class="product-card__price">{{ price | money_with_currency }}</div>
      </div>
      <div class="product-card__atc">
        {%- form 'product', product, id: form_id, class: product_form_classes -%}
          <input type="hidden" name="quantity" value="1">
          <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
          {% if is_promotion and promotion_id %}
            <input type="hidden" name=properties[_promotionId] value="{{promotion_id}}" />
          {% endif %}
          {%- if section.settings.show_quick_buy == 'list_grid' or show_add_to_cart == false -%}
            {%- assign quick_buy_classes = 'product-item__action-button button button--small button--primary' -%}
          {%- else -%}
            {%- assign quick_buy_classes = 'product-item__action-button product-item__action-button--list-view-only button button--small button--primary' -%}
          {%- endif -%}

          {%- if product.available -%}
            {% assign count = 0 %}
            {% for variant in product.variants %}
              {% if variant.available %}  
              {% assign count = count | plus: 1 %}
            {% endif %}
            {% endfor %}
            {%- if count == 1 -%}
              <button type="submit" class="{{ quick_buy_classes }}" data-action="add-to-cart">
                {%- if product.template_suffix == 'pre-order' -%}
                  {{- 'collection.product.pre_order' | t -}}
                {%- else -%}
                  {{- 'collection.product.add_to_cart' | t -}}
                {%- endif -%}
              </button>
            {%- else -%}
              <a href="{{ product.url }}" class="{{ quick_buy_classes }} product-card__cta">{{ 'collection.product.choose_options' | t }}</a>
            {%- endif -%}
          {%- else -%}
            <button class="{{ quick_buy_classes | replace: 'button--primary', 'button--disabled' }}" disabled>{{ 'collection.product.sold_out' | t }}</button>
          {%- endif -%}
        {%- endform -%}
      </div>
    </div>
  </div>
</product-card>