{{ 'predictive_search.css' | asset_url | stylesheet_tag }}

<div class="header__search-bar-wrapper is-visible header__search-bar-wrapper--desktop">
    <form action="{{ routes.search_url }}?view=shopify" method="get" role="search" class="search-bar">
        {%- assign search_menu = linklists[section.settings.search_menu] -%}

        <div class="search-bar__top-wrapper">
        <button type="button" class="search-bar__close-button hidden-tablet-and-up" data-action="unfix-search">
            <span class="search-bar__close-text">{% render 'icon', icon: 'close' %}</span>
        </button>
        <div class="search-bar__top">
            <input type="hidden" name="type" value="product">
            <input type="hidden" name="return_to" value="{{ routes.search_url }}?view=shopify">
            <input type="hidden" name="options[prefix]" value="last">
            <input type="hidden" name="options[unavailable_products]" value="{{ settings.search_unavailable_products }}">
            <button type="submit" class="search-bar__submit" aria-label="{{ 'header.search.submit' | t }}">
            {%- render 'icon', icon: 'search' -%}
            {%- render 'icon', icon: 'search-loader' -%}
            </button>

            <div class="search-bar__input-wrapper">
            <input class="search-bar__input" type="text" name="q" autocomplete="off" autocorrect="off" aria-label="{{ 'header.search.input_placeholder' | t }}" placeholder="{{ 'header.search.input_placeholder' | t }}" data-predictive-search-input>
            <button type="button" class="search-bar__input-clear hidden-lap-and-up" data-action="clear-input">
                <span class="visually-hidden">{{ 'header.search.clear' | t }}</span>
                {% render 'icon', icon: 'close' %}
            </button>
            </div>

            {%- comment -%}The type detection is sometimes a bit inaccurate as it returns empty type, so we do an additional logic{%- endcomment -%}

            {%- assign has_at_least_one_type = false -%}
            {%- for product_type in shop.types -%}
            {%- if product_type != blank -%}
                {%- assign has_at_least_one_type = true -%}
                {%- break -%}
            {%- endif -%}
            {%- endfor -%}

            {%- if section.settings.show_search_filter and has_at_least_one_type -%}
            <div class="search-bar__filter">
                <label for="search-product-type" class="search-bar__filter-label">
                <span class="search-bar__filter-active">{{ 'header.search.all_categories' | t }}</span> {%- render 'icon', icon: 'arrow-bottom' -%}
                </label>

                <select id="search-product-type">
                <option value="" selected="selected">{{ 'header.search.all_categories' | t }}</option>

                {%- for product_type in shop.types -%}
                    {%- if product_type != blank -%}
                    <option value="{{ product_type | escape }}">{{ product_type | escape }}</option>
                    {%- endif -%}
                {%- endfor -%}
                </select>
            </div>
            {%- endif -%}

        </div>

        </div>
        <predictive-search-result />

        <div class="search-bar__inner">
        <div class="search-bar__inner-animation">
            <div class="search-bar__results" aria-hidden="true">
            <div class="skeleton-container">
                {%- for i in (1..3) -%}
                <div class="search-bar__result-item search-bar__result-item--skeleton">
                    <div class="search-bar__image-container">
                    <div class="aspect-ratio aspect-ratio--square">
                        <div class="skeleton-image"></div>
                    </div>
                    </div>

                    <div class="search-bar__item-info">
                    <div class="skeleton-paragraph">
                        <div class="skeleton-text"></div>
                        <div class="skeleton-text"></div>
                    </div>
                    </div>
                </div>
                {%- endfor -%}
            </div>

            <div class="search-bar__results-inner">
              
            </div>
            </div>

            {%- if search_menu.links.size > 0 -%}
            <div class="search-bar__menu-wrapper" aria-hidden="true">
                {%- if section.settings.show_search_menu_title -%}
                <p class="search-bar__menu-title heading">{{ search_menu.title }}</p>
                {%- endif -%}

                <ul class="search-bar__menu-linklist list--unstyled" role="list">
                {%- for link in search_menu.links -%}
                    <li>
                    <a href="{{ link.url }}" class="search-bar__menu-link">{{ link.title }}</a>
                    </li>
                {%- endfor -%}
                </ul>
            </div>
            {%- endif -%}
        </div>
        </div>
    </form>
</div>

<div class="header__search-bar-wrapper is-visible header__search-bar-wrapper--mobile">
    <form action="{{ routes.search_url }}?view=shopify" method="get" role="search" class="search-bar">
        {%- assign search_menu = linklists[section.settings.search_menu] -%}

        <div class="search-bar__top-wrapper">
            <button type="button" class="search-bar__close-button hidden-tablet-and-up" data-action="unfix-search">
                <span class="search-bar__close-text">{% render 'icon', icon: 'close' %}</span>
            </button>
            <div class="search-bar__top">
                <input type="hidden" name="type" value="product">
                <input type="hidden" name="options[prefix]" value="last">
                <input type="hidden" name="options[unavailable_products]" value="{{ settings.search_unavailable_products }}">
                <button type="submit" class="search-bar__submit" aria-label="{{ 'header.search.submit' | t }}">
                {%- render 'icon', icon: 'search' -%}
                {%- render 'icon', icon: 'search-loader' -%}
                </button>

                <div class="search-bar__input-wrapper">
                    <input class="search-bar__input" type="text" name="q" autocomplete="off" autocorrect="off" aria-label="{{ 'header.search.input_placeholder' | t }}" placeholder="{{ 'header.search.input_placeholder' | t }}" data-predictive-search-input>
                    <button type="button" class="search-bar__input-clear hidden-lap-and-up" data-action="clear-input">
                        <span class="visually-hidden">{{ 'header.search.clear' | t }}</span>
                        {% render 'icon', icon: 'close' %}
                    </button>
                </div>

                {%- comment -%}The type detection is sometimes a bit inaccurate as it returns empty type, so we do an additional logic{%- endcomment -%}

                {%- assign has_at_least_one_type = false -%}
                {%- for product_type in shop.types -%}
                    {%- if product_type != blank -%}
                        {%- assign has_at_least_one_type = true -%}
                        {%- break -%}
                    {%- endif -%}
                {%- endfor -%}

                {%- if section.settings.show_search_filter and has_at_least_one_type -%}
                <div class="search-bar__filter">
                    <label for="search-product-type" class="search-bar__filter-label">
                        <span class="search-bar__filter-active">{{ 'header.search.all_categories' | t }}</span> {%- render 'icon', icon: 'arrow-bottom' -%}
                    </label>

                    <select id="search-product-type">
                        <option value="" selected="selected">{{ 'header.search.all_categories' | t }}</option>

                        {%- for product_type in shop.types -%}
                            {%- if product_type != blank -%}
                            <option value="{{ product_type | escape }}">{{ product_type | escape }}</option>
                            {%- endif -%}
                        {%- endfor -%}
                    </select>
                </div>
                {%- endif -%}
            </div>
        </div>
        <predictive-search-result />
        <div class="search-bar__inner">
            <div class="search-bar__inner-animation">
                <div class="search-bar__results" aria-hidden="true">
                    <div class="skeleton-container">
                        {%- for i in (1..3) -%}
                        <div class="search-bar__result-item search-bar__result-item--skeleton">
                            <div class="search-bar__image-container">
                            <div class="aspect-ratio aspect-ratio--square">
                                <div class="skeleton-image"></div>
                            </div>
                            </div>

                            <div class="search-bar__item-info">
                            <div class="skeleton-paragraph">
                                <div class="skeleton-text"></div>
                                <div class="skeleton-text"></div>
                            </div>
                            </div>
                        </div>
                        {%- endfor -%}
                    </div>

                    <div class="search-bar__results-inner">
                        {%- comment -%}Placeholder div for real results{%- endcomment -%}
                    </div>
                </div>

                {%- if search_menu.links.size > 0 -%}
                <div class="search-bar__menu-wrapper" aria-hidden="true">
                    {%- if section.settings.show_search_menu_title -%}
                        <p class="search-bar__menu-title heading">{{ search_menu.title }}</p>
                    {%- endif -%}

                    <ul class="search-bar__menu-linklist list--unstyled" role="list">
                    {%- for link in search_menu.links -%}
                        <li>
                            <a href="{{ link.url }}" class="search-bar__menu-link">{{ link.title }}</a>
                        </li>
                    {%- endfor -%}
                    </ul>
                </div>
                {%- endif -%}
            </div>
        </div>
    </form>
</div>