
<div class="icon-text {% if wrapper_class %}{{ wrapper_class }}__icon-text {% endif %}{% if is_slider %} swiper-slide {% endif %}">
  <div class="icon__container {% if wrapper_class %}{{ wrapper_class }}__icon {% endif %} 
    {% if icon_hover %} icon__container--toggle-icon {% endif %}">{{icon}}
</div>
  {% if icon_hover %}<div class="icon__container icon__container__icon--hover {% if wrapper_class %}{{ wrapper_class }}__icon" {% endif %} style="display: none">{{icon_hover}}</div>{% endif %}
  <div class="text__container {% if wrapper_class %}{{ wrapper_class }}__text {% endif %}">
    {% render 'text', 
        id: id,
        color: color, 
        eyebrow: eyebrow, 
        subheading: subheading, 
        cta_text: cta_text, 
        wrapper_class: wrapper_class,
        inline_heading: inline_heading
        cta_url: cta_url,
        button_type: 'text',
        button_background_type: 'transparent'
      %}
    </div>
</div>