{% if image_desktop or image_mobile %}
{% liquid 
 assign desktop_image = image_desktop | default: image_mobile
 assign mobile_image = image_mobile | default: image_desktop
 assign fill = fill | default: false
%}

{% if text_background %} 
<style>
.text-image__text-wrapper-{{id}} {
  background: {{text_background}}
}
</style>
{% endif %}
<div class="text-image {{wrapper_class}}__text-image {{wrapper_class}}" {% if cta_url %} data-redirect-click data-url="{{cta_url}}"{% endif %}>
 <div class="text-image__image-wrapper image {{wrapper_class}}__image-wrapper {% if overlay == false %} image--no-radius {% endif%}">
  <div class="image image--desktop {{wrapper_class}}__image">
    {% render 'shopify-responsive-image',
        image: desktop_image,
        aspect_ratio: desktop_aspect_ratio,
        crop: desktop_crop
        contain: desktop_contain
        fill: fill,
        max_height: max_height
      %}
  </div>
  <div class="image image--mobile {{wrapper_class}}__image">
    {% render 'shopify-responsive-image',
        image: mobile_image,
        aspect_ratio: mobile_aspect_ratio,
        crop: mobile_crop
        contain: mobile_contain
        fill: fill,
        max_height: max_height
      %}
    </div>
</div>
<div class="text-image__text-wrapper text-image__text-wrapper-{{id}} content {{wrapper_class}}__text-wrapper {% if overlay == false %} text-image__text-wrapper--no-overlay {% endif%}"
  {% if cta_url %} onclick="location.href='{{cta_url}}';" {% endif %}
>
    {% render 'text', 
        id: id,
        color: color, 
        eyebrow: eyebrow, 
        heading: heading , 
        subheading: subheading , 
        cta_text: cta_text, 
        wrapper_class: text_wrapper_class,
        inline_heading: inline_heading
        cta_url: cta_url,
        button_type: button_type
        button_background_type: button_background_type,
        cta_arrow: cta_arrow
      %}
  </div>
</div>

{% endif %}