
{%  assign variant_title = product.selected_or_first_available_variant.title | split: '/' | first | prepend: " - " %}
{%  assign variant_title_lowercase = variant_title | downcase %}
{% if variant_title_lowercase contains "default" %}
    {%  assign variant_title = "" %}
{% endif %}
{%  assign title = "<h2 class='tab-section__SEO-heading'>" | append: product.title | append: variant_title | append: "</h2>"  %}
{ 
  "description": `{{ product.description | remove: 'data-section-type="product"' | prepend: title }}`,
"Additional_Information": `
{% for field in product.metafields.global %}
  {% assign field_name = field | first %}
  {% unless field_name == 'title_tag'
    or field_name == 'description_tag'
    or field_name == 'ingredients'
    or field_name == 'suggested_use'
  %}
    <strong>{{ field | first | capitalize | replace: '_', ' '}} :</strong>  <p>{{ field | last }}</p>
  {% endunless %}
{% endfor %}
`,
{% for field in product.metafields.global %}
  {% assign field_name = field | first %}
  {% if field_name == 'ingredients' or field_name == 'suggested_use' %}
    "{{ field | first | capitalize }}" : `{{ field | last }}`,
  {% endif %}
{% endfor %}

{% for block in section.blocks %}
  {% unless forloop.first %},{% endunless %}
  "{{ block.settings.heading }}" : `{{ block.settings.content}}`
{% endfor %}
}
