{%- assign mega_menus = section.blocks | map: 'settings' | map: 'menu_item' -%}

<div id="mobile-menu" class="mobile-menu" aria-hidden="true">
  <div class="mobile-menu__inner">
    <div class="mobile-menu__panel">
      <div class="mobile-menu__section">
        <ul class="mobile-menu__nav" data-type="menu" role="list">
          {%- for link in menu.links -%}
            {% liquid 
              assign special_nav_item = special_nav_item | downcase | strip
              assign nav_item = link.title | downcase | strip
              assign is_special_item = false 
              if special_nav_item == nav_item 
                assign is_special_item = true
              endif 
            %}
            <li class="mobile-menu__nav-item">
              <div class="mobile-menu__nav-list">
                <div class="mobile-menu__nav-list-item">
                  {%- if link.links.size == 0 -%}
                    {%- if link.url contains 'megamenu' -%}
                      {% assign panel_id = link.url | split: '#' | last %}
                      <button class="mobile-menu__nav-link" data-type="menuitem" aria-haspopup="true" aria-expanded="false" aria-controls="{{panel_id}}" data-action="open-panel">
                        {{- link.title -}} {%- render 'icon', icon: 'arrow-right' -%}
                      </button>
                    {%- else -%}
                      <a href="{{ link.url }}" class="mobile-menu__nav-link" data-type="menuitem" aria-label="{{ link.title | escape }}">{{ link.title }}</a>
                    {%- endif -%}
                  {%- else -%}
                  {%- capture mobile_list_id -%}mobile-list-{% increment mobile_list %}{%- endcapture -%}
                    <button class="mobile-menu__nav-list-toggle text--strong" aria-controls="{{ mobile_list_id }}" aria-expanded="false" data-action="toggle-collapsible" data-close-siblings="false">
                      {{- link.title -}} {% render 'icon', icon: 'arrow-bottom' %}
                    </button>
                    <div id="{{ mobile_list_id }}" class="mobile-menu__nav-collapsible">
                      <div class="mobile-menu__nav-collapsible-content">
                        <ul class="mobile-menu__nav" data-type="menu" role="list">
                          {%- for sub_link in link.links -%}
                            {%- capture mobile_list_id -%}mobile-list-{% increment mobile_list %}{%- endcapture -%}
                            <div class="mobile-menu__nav-list-item">
                              {%- if sub_link.links.size == 0 -%}
                                {%- if sub_link.url contains 'megamenu' -%}
                                  {% assign panel_id = sub_link.url | split: '#' | last %}
                                  <button class="mobile-menu__nav-link" data-type="menuitem" aria-haspopup="true" aria-expanded="false" aria-controls="{{panel_id}}" data-action="open-panel">
                                    {{- sub_link.title -}} {%- render 'icon', icon: 'arrow-right' -%}
                                  </button>
                                {%- else -%}
                                  <a href="{{ sub_link.url }}" class="mobile-menu__nav-link" data-type="menuitem" aria-label="{{ sub_link.title | escape }}"> {{ sub_link.title }}</a>
                                {%- endif -%}
                              {%- else -%}
                              {% if sub_link.levels == 1 %}
                                <button class="mobile-menu__nav-list-toggle text--strong" aria-controls="{{ mobile_list_id }}" aria-expanded="false" data-action="toggle-collapsible" data-close-siblings="false">
                                  {{- sub_link.title -}} {% render 'icon', icon: 'arrow-bottom' %}
                                </button>
                                {% else %}
                                <button class="mobile-menu__nav-link text--strong" aria-controls="{{ mobile_list_id }}" aria-expanded="false" data-action="toggle-collapsible" data-close-siblings="false">
                                  {{- sub_link.title -}} {% render 'icon', icon: 'arrow-bottom' %}
                                </button>
                                {% endif %}
                                <div id="{{ mobile_list_id }}" class="mobile-menu__nav-collapsible">
                                  <div class="mobile-menu__nav-collapsible-content">
                                    <ul class="mobile-menu__nav" data-type="menu" role="list">
                                      {%- for sub_sub_link in sub_link.links -%}
                                        <li class="mobile-menu__nav-item">
                                          <a href="{{ sub_sub_link.url }}" class="mobile-menu__nav-link" data-type="menuitem">{{ sub_sub_link.title }}</a>
                                        </li>
                                      {%- endfor -%}
                                    </ul>
                                  </div>
                                </div>
                              {%- endif -%}
                            </div>
                          {%- endfor -%}
                        </ul>
                      </div>
                    </div>
                  {%- endif -%}
                </div>
            </div>
            </li>
          {%- endfor -%}
        </ul>
      </div>
      <div class="mobile-content__section">
        {%- if shop.customer_accounts_enabled -%}
          <div class="mobile-menu__nav-item mobile-menu__account-wrapper">
            {%- if customer -%}
              <span class="header__action-item-title hidden-pocket hidden-lap">{{ 'header.general.welcome' | t: first_name: customer.first_name | truncate: 20 }}</span>
            {%- else -%}
              <span class="header__action-item-title hidden-pocket hidden-lap">{{ 'header.general.login' | t }}</span>
            {%- endif -%}

            <div class="mobile-menu__account">
              {% if customer %}
                <a class="mobile-menu__nav-link" href="/account"> My Account</a>
              {% else %}
              <a class="mobile-menu__nav-link" aria-controls="account-drawer-panel" data-type="menuitem" aria-haspopup="true" data-action="open-panel">              
              <div class="mobile-menu__icon-wrapper ">
                 {% render 'icon', icon: 'header-account' %} Sign In
               </div>
               {% render 'icon', icon: 'arrow-right'%}
             </a>
            {% endif %}
          </div>

          </div>
        {%- endif -%}
        {%- if section.settings.navigation_phone_number != blank or section.settings.navigation_email != blank -%}
          <div class="mobile-menu__section mobile-menu__section--loose">
            <p class="mobile-menu__section-title heading h5">{{ 'header.navigation.need_help' | t }}</p>

            {%- if section.settings.navigation_phone_number != blank -%}
              <div class="mobile-menu__help-wrapper">
                {%- render 'icon', icon: 'bi-phone' -%}
                <span>{{ section.settings.navigation_phone_number | escape }}</span>
              </div>
            {%- endif -%}

            {%- if section.settings.navigation_email != blank -%}
              <div class="mobile-menu__help-wrapper">
                {%- render 'icon', icon: 'bi-email' -%}
                <a href="mailto:{{ section.settings.navigation_email }}">{{ section.settings.navigation_email | escape }}</a>
              </div>
            {%- endif -%}
          </div>
        {%- endif -%}

      </div>
    </div>
    {%- for link in menu.links -%}
      {%- if link.url contains 'megamenu' -%}
        {% assign panel_id = link.url | split: '#' | last %}
        {% assign megamenu_url =  link.url | split: 'megamenu-' | last %}
        {% assign megamenu_url = '/collections/' | append: megamenu_url %}
        <div class="mobile-menu__panel is-nested" id="{{ panel_id }}" aria-hidden="false" data-mobile-megamenu-target-{{panel_id}} >
          <div class="is-sticky">
            <button class="mobile-menu__back-button" data-action="close-panel">{% render 'icon', icon: 'arrow-right' %} {{ 'header.navigation.back' | t }}</button>
          </div>
          <a class="mobile-menu__nav-list-toggle text--strong  mobile-menu__nav-list-toggle--link" href="{{ megamenu_url }}">View All</a>
        </div>
       
      {% endif %}
      {% if link.links.size > 0 %}
          {% for sublink in link.links %} 
            {%- if sublink.url contains 'megamenu' -%}
              {% assign panel_id = sublink.url | split: '#' | last %}
              {% assign megamenu_url =  link.url | split: 'megamenu-' | last %}
              {% assign megamenu_url = '/collections/' | append: megamenu_url %}
              <div class="mobile-menu__panel is-nested" id="{{ panel_id }}" aria-hidden="false" data-mobile-megamenu-target-{{panel_id}} >
                <div class="is-sticky">
                  <button class="mobile-menu__back-button" data-action="close-panel">{% render 'icon', icon: 'arrow-right' %} {{ 'header.navigation.back' | t }}</button>
                </div>
                <a class="mobile-menu__nav-list-toggle text--strong  mobile-menu__nav-list-toggle--link" href="{{ megamenu_url }}">View All</a>
              </div>
            {% endif %}
          {% endfor %}
      {% endif %}
  {% endfor %}
  <div class="mobile-menu__account-drawers mobile-menu__panel is-nested" id="account-drawer-panel" data-child-drawers>
    {%- comment -%}LOGIN{%- endcomment -%}
    <div id="header-login-panel" class="mobile-menu__panel" aria-hidden="false" >
      <div class="is-sticky">
        <button class="mobile-menu__back-button" data-action="close-panel">{% render 'icon', icon: 'arrow-right' %} {{ 'header.navigation.back' | t }}</button>
      </div>
        {%- form 'customer_login', name: 'login', class: 'form', id: 'header_customer_login' -%}
          <header class="popover__header">
            <h2 class="popover__title heading">{{ 'customer.login.login' | t }}</h2>
            <p class="popover__legend">{{ 'customer.login.description' | t }}</p>
          </header>

          <div class="form__input-wrapper form__input-wrapper--labelled">
            <input type="email" id="login-customer[email]" class="form__field form__field--text" name="customer[email]" required="required">
            <label for="login-customer[email]" class="form__floating-label">{{ 'customer.login.email' | t }}</label>
          </div>

          <div class="form__input-wrapper form__input-wrapper--labelled">
            <input type="password" id="login-customer[password]" class="form__field form__field--text" name="customer[password]" required="required" autocomplete="current-password">
            <label for="login-customer[password]" class="form__floating-label">{{ 'customer.login.password' | t }}</label>
          </div>

          <button type="submit" class="form__submit button button--primary button--full">{{ 'customer.login.submit' | t }}</button>
        {%- endform -%}

        <div class="popover__secondary-action">
          <p>{{ 'customer.login.new_customer' | t }} <button data-type="menuitem" aria-haspopup="true" aria-expanded="false" data-action="open-panel" aria-controls="header-register-panel" class="link link--accented">{{ 'customer.login.create_your_account' | t }}</button></p>
          <p>{{ 'customer.login.lost_password' | t }} <a data-type="menuitem" aria-haspopup="true" aria-expanded="false" data-action="open-panel" aria-controls="header-recover-panel" class="link link--accented">{{ 'customer.login.recover_password' | t }}</a></p>
        </div>
    </div>

    {%- comment -%}RECOVER{%- endcomment -%}
    <div id="header-recover-panel" class="mobile-menu__panel is-nested" aria-hidden="false">
      <div class="is-sticky">
        <button class="mobile-menu__back-button" data-action="close-panel">{% render 'icon', icon: 'arrow-right' %} {{ 'header.navigation.back' | t }}</button>
      </div>
      <div class="popover__inner">
        {%- form 'recover_customer_password', name: 'recover', class: 'form' -%}
          <header class="popover__header">
            <h2 class="popover__title heading">{{ 'customer.recover_password.recover_password' | t }}</h2>
            <p class="popover__legend">{{ 'customer.recover_password.description' | t }}</p>
          </header>

          <div class="form__input-wrapper form__input-wrapper--labelled">
            <input type="email" id="recover-customer[recover_email]" class="form__field form__field--text" name="email" required="required">
            <label for="recover-customer[recover_email]" class="form__floating-label">{{ 'customer.recover_password.email' | t }}</label>
          </div>

          <button type="submit" class="form__submit button button--primary button--full">{{ 'customer.recover_password.submit' | t }}</button>
        {%- endform -%}

        {% comment %} <div class="popover__secondary-action">
          <p>{{ 'customer.recover_password.remembered_your_password' | t }} <button data-type="menuitem" aria-haspopup="true" aria-expanded="false" data-action="open-panel" aria-controls="header-login-panel" class="link link--accented">{{ 'customer.recover_password.back_to_login' | t }}</button></p>
        </div> {% endcomment %}
        <div class="popover__secondary-action">
          <p>{{ 'customer.login.new_customer' | t }} <button data-type="menuitem" aria-haspopup="true" aria-expanded="false" data-action="open-panel" aria-controls="header-register-panel" class="link link--accented">{{ 'customer.login.create_your_account' | t }}</button></p>
        </div>
      </div>
    </div>

    {%- comment -%}REGISTER{%- endcomment -%}
    <div id="header-register-panel" class="mobile-menu__panel is-nested" aria-hidden="false">
      <div class="is-sticky">
        <button class="mobile-menu__back-button" data-action="close-panel">{% render 'icon', icon: 'arrow-right' %} {{ 'header.navigation.back' | t }}</button>
      </div>
      <div class="popover__inner">
        {%- form 'create_customer', name: 'create', class: 'form' -%}
          <header class="popover__header">
            <h2 class="popover__title heading">{{ 'customer.register.create_account' | t }}</h2>
            <p class="popover__legend">{{ 'customer.register.description' | t }}</p>
          </header>

          {%- if request.locale.iso_code == 'ja' -%}
            <div class="form__input-wrapper form__input-wrapper--labelled">
              <input type="text" id="customer[last_name]" class="form__field form__field--text" name="customer[last_name]" autocomplete="family-name" required="required">
              <label for="customer[last_name]" class="form__floating-label">{{ 'customer.register.last_name' | t }}</label>
            </div>

            <div class="form__input-wrapper form__input-wrapper--labelled">
              <input type="text" id="customer[first_name]" class="form__field form__field--text" name="customer[first_name]" autocomplete="given-name" required="required">
              <label for="customer[first_name]" class="form__floating-label">{{ 'customer.register.first_name' | t }}</label>
            </div>
          {%- else -%}
            <div class="form__input-wrapper form__input-wrapper--labelled">
              <input type="text" id="customer[first_name]" class="form__field form__field--text" name="customer[first_name]" autocomplete="given-name" required="required">
              <label for="customer[first_name]" class="form__floating-label">{{ 'customer.register.first_name' | t }}</label>
            </div>

            <div class="form__input-wrapper form__input-wrapper--labelled">
              <input type="text" id="customer[last_name]" class="form__field form__field--text" name="customer[last_name]" autocomplete="family-name" required="required">
              <label for="customer[last_name]" class="form__floating-label">{{ 'customer.register.last_name' | t }}</label>
            </div>
          {%- endif -%}

          <div class="form__input-wrapper form__input-wrapper--labelled">
            <input type="email" id="register-customer[email]" class="form__field form__field--text" name="customer[email]" required="required">
            <label for="register-customer[email]" class="form__floating-label">{{ 'customer.register.email' | t }}</label>
          </div>

          <div class="form__input-wrapper form__input-wrapper--labelled">
            <input type="password" id="register-customer[password]" class="form__field form__field--text" name="customer[password]" required="required" autocomplete="new-password">
            <label for="register-customer[password]" class="form__floating-label">{{ 'customer.register.password' | t }}</label>
          </div>

          <button type="submit" class="form__submit button button--primary button--full">{{ 'customer.register.submit' | t }}</button>
        {%- endform -%}

        <div class="popover__secondary-action">
          <p>{{ 'customer.register.already_have_account' | t }} <button data-type="menuitem" aria-haspopup="true" aria-expanded="false" data-action="open-panel" aria-controls="header-login-panel" class="link link--accented">{{ 'customer.register.login' | t }}</button></p>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>


