
{% comment %}FORM FOR NEW ADDRESS{% endcomment %}

{%- assign new_form_errored = false -%}

{%- capture form_status -%}
  {%- form 'customer_address', customer.new_address, class: 'form' -%}
    {%- if form.errors -%}
      {%- assign new_form_errored = true -%}
    {%- endif -%}
  {%- endform -%}
{%- endcapture -%}

<div id="modal-address-new" class="modal" aria-hidden="{% if new_form_errored %}false{% else %}true{% endif %}">
  <div class="modal__dialog" role="dialog">
    <header class="modal__header">
      <h3 class="modal__title heading h2">{{ 'customer.addresses.add_address' | t }}</h3>
      <button class="modal__close link" data-action="close-modal" title="{{ 'general.accessibility.close' | t | escape }}">
        {%- render 'icon', icon: 'close' -%}
      </button>
    </header>

    <div class="modal__content modal__content--ios-push">
      <p class="modal__description">{{ 'customer.addresses.form_subtitle' | t }}</p>

      {%- form 'customer_address', customer.new_address, class: 'form' -%}
        {%- if form.errors -%}
          <div class="alert alert--error">
            <ul class="alert__error-list" role="list">
              {%- for field in form.errors -%}
                {%- if field == 'form' -%}
                  <li class="alert__error-item">{{ form.errors.messages[field] }}</li>
                {%- else -%}
                  <li class="alert__error-item"><strong>{{ form.errors.translated_fields[field] }}</strong> {{ form.errors.messages[field] }}</li>
                {%- endif -%}
              {%- endfor -%}
            </ul>
          </div>
        {%- endif -%}

        {%- if request.locale.iso_code == 'ja' -%}
          <div class="form__input-wrapper form__input-wrapper--labelled">
            <input id="address-new[last_name]" type="text" class="form__field form__field--text {% if form.last_name != blank %}is-filled{% endif %}" name="address[last_name]" value="{{ form.last_name }}" autofocus>
            <label for="address-new[last_name]" class="form__floating-label">{{ 'customer.addresses.last_name' | t }}</label>
          </div>

          <div class="form__input-wrapper form__input-wrapper--labelled">
            <input id="address-new[first_name]" type="text" class="form__field form__field--text {% if form.first_name != blank %}is-filled{% endif %}" name="address[first_name]" value="{{ form.first_name }}">
            <label for="address-new[first_name]" class="form__floating-label">{{ 'customer.addresses.first_name' | t }}</label>
          </div>

          <div class="form__input-wrapper form__input-wrapper--labelled">
            <input id="address-new[zip]" type="text" class="form__field form__field--text {% if form.zip != blank %}is-filled{% endif %}" name="address[zip]" value="{{ form.zip }}">
            <label for="address-new[zip]" class="form__floating-label">{{ 'customer.addresses.zip' | t }}</label>
          </div>

          <div class="form__input-wrapper form__input-wrapper--labelled">
            <div class="select-wrapper select-wrapper--primary is-filled">
              {%- render 'icon', icon: 'arrow-bottom' -%}
              <select name="address[country]" id="address-new[country]">{{ all_country_option_tags }}</select>
            </div>

            <label for="address-new[country]" class="form__floating-label">{{ 'customer.addresses.country' | t }}</label>
          </div>

          <div class="form__input-wrapper form__input-wrapper--labelled" style="display: none">
            <div class="select-wrapper select-wrapper--primary is-filled">
              {%- render 'icon', icon: 'arrow-bottom' -%}
              <select name="address[province]" id="address-new[province]"></select>
            </div>

            <label for="address-new[province]" class="form__floating-label">{{ 'customer.addresses.province' | t }}</label>
          </div>

          <div class="form__input-wrapper form__input-wrapper--labelled">
            <input id="address-new[city]" type="text" class="form__field form__field--text {% if form.city != blank %}is-filled{% endif %}" name="address[city]" value="{{ form.city }}">
            <label for="address-new[city]" class="form__floating-label">{{ 'customer.addresses.city' | t }}</label>
          </div>

          <div class="form__input-wrapper form__input-wrapper--labelled">
            <input id="address-new[address1]" type="text" class="form__field form__field--text {% if form.address1 != blank %}is-filled{% endif %}" name="address[address1]" value="{{ form.address1 }}">
            <label for="address-new[address1]" class="form__floating-label">{{ 'customer.addresses.address1' | t }}</label>
          </div>

          <div class="form__input-wrapper form__input-wrapper--labelled">
            <input id="address-new[address2]" type="text" class="form__field form__field--text {% if form.address2 != blank %}is-filled{% endif %}" name="address[address2]" value="{{ form.address2 }}">
            <label for="address-new[address2]" class="form__floating-label">{{ 'customer.addresses.address2' | t }}</label>
          </div>

          <div class="form__input-wrapper form__input-wrapper--labelled">
            <input id="address-new[company]" type="text" class="form__field form__field--text {% if form.company != blank %}is-filled{% endif %}" name="address[company]" value="{{ form.company }}">
            <label for="address-new[company]" class="form__floating-label">{{ 'customer.addresses.company' | t }}</label>
          </div>

          <div class="form__input-wrapper form__input-wrapper--labelled">
            <input id="address-new[phone]" type="text" class="form__field form__field--text {% if form.phone != blank %}is-filled{% endif %}" name="address[phone]" value="{{ form.phone }}">
            <label for="address-new[phone]" class="form__floating-label">{{ 'customer.addresses.phone' | t }}</label>
          </div>
        {%- else -%}
          <div class="form__input-wrapper form__input-wrapper--labelled">
            <input id="address-new[first_name]" type="text" class="form__field form__field--text {% if form.first_name != blank %}is-filled{% endif %}" name="address[first_name]" value="{{ form.first_name }}" autofocus>
            <label for="address-new[first_name]" class="form__floating-label">{{ 'customer.addresses.first_name' | t }}</label>
          </div>

          <div class="form__input-wrapper form__input-wrapper--labelled">
            <input id="address-new[last_name]" type="text" class="form__field form__field--text {% if form.last_name != blank %}is-filled{% endif %}" name="address[last_name]" value="{{ form.last_name }}">
            <label for="address-new[last_name]" class="form__floating-label">{{ 'customer.addresses.last_name' | t }}</label>
          </div>

          <div class="form__input-wrapper form__input-wrapper--labelled">
            <input id="address-new[company]" type="text" class="form__field form__field--text {% if form.company != blank %}is-filled{% endif %}" name="address[company]" value="{{ form.company }}">
            <label for="address-new[company]" class="form__floating-label">{{ 'customer.addresses.company' | t }}</label>
          </div>

          <div class="form__input-wrapper form__input-wrapper--labelled">
            <input id="address-new[phone]" type="text" class="form__field form__field--text {% if form.phone != blank %}is-filled{% endif %}" name="address[phone]" value="{{ form.phone }}">
            <label for="address-new[phone]" class="form__floating-label">{{ 'customer.addresses.phone' | t }}</label>
          </div>

          <div class="form__input-wrapper form__input-wrapper--labelled">
            <input id="address-new[address1]" type="text" class="form__field form__field--text {% if form.address1 != blank %}is-filled{% endif %}" name="address[address1]" value="{{ form.address1 }}">
            <label for="address-new[address1]" class="form__floating-label">{{ 'customer.addresses.address1' | t }}</label>
          </div>

          <div class="form__input-wrapper form__input-wrapper--labelled">
            <input id="address-new[address2]" type="text" class="form__field form__field--text {% if form.address2 != blank %}is-filled{% endif %}" name="address[address2]" value="{{ form.address2 }}">
            <label for="address-new[address2]" class="form__floating-label">{{ 'customer.addresses.address2' | t }}</label>
          </div>

          <div class="form__input-row">
            <div class="form__input-wrapper form__input-wrapper--labelled">
              <input id="address-new[city]" type="text" class="form__field form__field--text {% if form.city != blank %}is-filled{% endif %}" name="address[city]" value="{{ form.city }}">
              <label for="address-new[city]" class="form__floating-label">{{ 'customer.addresses.city' | t }}</label>
            </div>

            <div class="form__input-wrapper form__input-wrapper--labelled">
              <input id="address-new[zip]" type="text" class="form__field form__field--text {% if form.zip != blank %}is-filled{% endif %}" name="address[zip]" value="{{ form.zip }}">
              <label for="address-new[zip]" class="form__floating-label">{{ 'customer.addresses.zip' | t }}</label>
            </div>
          </div>

          <div class="form__input-wrapper form__input-wrapper--labelled">
            <div class="select-wrapper select-wrapper--primary is-filled">
              {%- render 'icon', icon: 'arrow-bottom' -%}
              <select name="address[country]" id="address-new[country]">{{ all_country_option_tags }}</select>
            </div>

            <label for="address-new[country]" class="form__floating-label">{{ 'customer.addresses.country' | t }}</label>
          </div>

          <div class="form__input-wrapper form__input-wrapper--labelled" style="display: none">
            <div class="select-wrapper select-wrapper--primary is-filled">
              {%- render 'icon', icon: 'arrow-bottom' -%}
              <select name="address[province]" id="address-new[province]"></select>
            </div>

            <label for="address-new[province]" class="form__floating-label">{{ 'customer.addresses.province' | t }}</label>
          </div>
        {%- endif -%}

        <div class="form__input-wrapper form__input-wrapper--labelled">
          <div class="checkbox-wrapper">
            <input type="checkbox" class="checkbox" name="address[default]" id="address-new[default]" value="0">
            {% render 'icon', icon: 'check' %}
          </div>

          <label for="address-new[default]">{{ 'customer.addresses.set_default' | t }}</label>
        </div>

        <button class="form__submit button button--primary button--full">{{ 'customer.addresses.add_address' | t }}</button>
      {%- endform -%}
    </div>
  </div>
</div>