{% style %} 
 {% if color %} 
   .text__{{id}} {
    color: {{color}};
   }
 {% endif %}
{% endstyle %}
<div class="{{wrapper_class}}__text text__{{id}}" > 
<div class="text-wrapper {{wrapper_class}}__text-wrapper">
    {% if eyebrow != blank %}
    <p class="{{wrapper_class}}__eyebrow text__eyebrow">{{eyebrow}}</p>
    {% endif %}
    {% if inline_heading %}
      <p class="{{wrapper_class}}__heading text__heading">{{heading}} <span class="{{wrapper_class}}__subheading text__subheading">{{subheading}}</span></p>
      {% else %}
      {% if heading  != blank%}
        <p class="text__heading {{wrapper_class}}__heading">{{heading}}</p>
        {% endif %}
        {% if subheading  != blank %}
          <p class="{{wrapper_class}}__subheading text__subheading">{{subheading}}</p>
        {% endif %}
    {% endif %}

  </div>
   {% if cta_text and cta_url %}
   <a class="button {{wrapper_class}}__cta text__cta
     {% if button_type %} button--{{button_type}} {% endif %}
     {% if button_background_type %} button--{{button_background_type}} {% endif %}
     " {%if cta_url %} href="{{cta_url}} {% endif%}">{{ cta_text }} 
     {% if button_type == "text" or button_type == "outline" or cta_arrow == true %}{% render 'chevron-right-icon'%} {% endif%}
     </a>
   {% endif %}
</div> 