

<div class="{{wrapper_class}}__text__wrap__{{ id }} "> 
<div class="text-wrap {{ wrapper_class }}__wrapper-container">
      
    <div>  
        {% if heading != blank and description != blank%}
            <p class="text-wrap__heading {{ wrapper_class }}__heading">{{ heading }}</p>
        {% endif %} 
    </div>
        
    <div>
      {% if description != blank %}
        <div class="text-wrap__content-wrapper " data-container>
          {% if description.size > 844 %} 
            <span class="{{ wrapper_class }}__description text-wrap__description text-wrap__description--hidden" data-content-half>
              <script type="text/html" class="{{ wrapper_class }}__description-continer text-wrap__description-continer">
              {{ description | truncate: 844 }} 
              </script>
              <button data-test class="text-wrap__description--read-button">Read more</button>
            </span>
          {% endif %}
          <span class="{{ wrapper_class }}__description text-wrap__description" {% if description.size > 844 %}data-content-full{% else %}data-content-half{% endif %}>
            {{ description }} 
          </span>
        </div>
      {% endif %}      
    </div>
  </div>
</div>