<style>
    .boost-pfs-filter-products .button--primary {
        border: 1px solid #ED1C24;
    }

    .boost-pfs-filter-products .button--primary:hover {
        background: #ffffff;
        color: #ED1C24;
    }

    .boost-pfs-filter-products .width-100{
        width: 100%;
    }
    .boost-pfs-filter-products .shop__by-promo-wrapper{
        {% comment %} padding: 30px 0px 30px 30px; {% endcomment %}
        background: #fff;
        display: grid;
        padding: 1.6rem 1.2rem;
        margin: 1rem 0;
    }

    .boost-pfs-filter-products .shop__by--wrapper-bundle {
        background: linear-gradient(180deg, #FFE8D3 0%, #FFD0C1 100%);
        padding: 1.6rem 1.2rem;
    }

    @media (min-width: 641px) {
        .boost-pfs-filter-products .shop__by-promo-wrapper {
            grid-template-columns: 1.2fr 2.8fr;
            column-gap: 1.9rem;
        }

        .boost-pfs-filter-products .flickity-page-dots {
            display: none;
        }

        .promo-image__wrapper-container_innner_wrap {
            height: 100%;
        }
    }

    .promo-image__wrapper-container {
        width: 100%;
        position: relative;
    }

    h2.promo__wrap_title {
        position: absolute;
        top: 30px;
        color: #fff;
        left: 30px;
        font-weight: 600;
        font-size: 44px;
        line-height: 1;
    }

    .promo-image__wrapper-container p {

    }

    .boost-pfs-filter-products .shop__by-promo-wrapper .promo-banner{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .boost-pfs-filter-products .shop__by-promo-wrapper .promo-banner-desktop {

    }

    .boost-pfs-filter-products .shop__by-promo-wrapper .promo-banner-mobile {
        display: none;
    }

    /*.boost-pfs-filter-products .product-item__action-list .button--ternary{
        display: none;
    }*/

    .boost-pfs-filter-products .promo-products__wrapper .product-item{
        min-width: 270px;
        background-color: initial;
        padding-top: 0;
        padding-bottom: 0;
    }
    @media(max-width:1200px){
        .boost-pfs-filter-products .button--primary{
           font-size: 0.7em;
        }
    }

    @media screen and (min-width: 641px) and (max-width: 1024px) {
        .boost-pfs-filter-products .promo-products__wrapper .product-item {
            min-width: 240px;
        }
    }

    @media screen and (max-width: 640px) {
        h2.promo__wrap_title {            
            top: 45%;
            font-size: 18px;
            line-height: 1;
        }
        .boost-pfs-filter-products .promo-products__wrapper .product-item {
            min-width: 50%;
        }

        .boost-pfs-filter-products .flickity-page-dots {
            bottom: -30px !important;
        }

        .boost-pfs-filter-products .shop__by-promo-wrapper {
            padding: 1.6rem 0rem;
            padding-bottom: 3.5rem;
        }

        .boost-pfs-filter-products .product-item__action-list {
            display: initial !important;
        }

        .boost-pfs-filter-products .button--primary {
            width: 100%;
        }

        .promo-image__wrapper-container {
            overflow: hidden;
            padding: 0 20px;
            margin-bottom: 20px;
        }

        .boost-pfs-filter-products .shop__by-promo-wrapper .promo-banner-desktop {
            display: none;
        }

        .boost-pfs-filter-products .shop__by-promo-wrapper .promo-banner-mobile {
            display: unset;
        }
    }

    @media(max-width: 376px){
        h2.promo__wrap_title{
            width: 30%;
            top: 37%;
        }
    }

    .boost-pfs-filter-products .promo-products__wrapper-container,
    .boost-pfs-filter-products .bundle-products__wrapper-container {
        width: 100%;
    }
    .boost-pfs-filter-products .shop-d-none {
        display: none;
    }

    .boost-pfs-filter-products.product-list {
        overflow: visible;
    }
</style>

{%- assign items_per_page = cart.attributes.collection_products_per_page | default: section.settings.default_products_per_page -%}

{%- capture grid_classes -%}1/3--tablet 1/{{ section.settings.products_per_row }}--lap-and-up{%- endcapture -%}

{%- assign view_mode = cart.attributes.collection_layout | default: section.settings.default_view_layout -%}

{%- capture section_settings -%}
{
    "currentSortBy": {{ collection.sort_by | default: collection.default_sort_by | json }},
    "currentTags": [],
    "filterType": "group",
    "defaultLayout": {{ view_mode | json }},
    "defaultProductsPerPage": {{ items_per_page | json }},
    "isAutomatic": false,
    "gridClasses": {{ grid_classes | json }}
}
{%- endcapture -%}

<section data-section-id="{{ section.id }}" data-section-type="collection" data-section-settings='{{ section_settings }}'>
    <div class="container container--flush">
        <div class="layout {% if collection.template_suffix == 'brands' %}collection__toolbar_mt{% endif %}">
            {%- comment -%}
            --------------------------------------------------------------------------------------
            FILTER BAR (DESKTOP)
            --------------------------------------------------------------------------------------
            {%- endcomment -%}

            <div class="layout__section layout__section--secondary hidden-pocket">
                <div class="card">
                    <div class="card__section card__section--tight">
                        <p class="card__title--small heading">{{ 'collection.filter.all' | t }}</p>
                        <div class="boost-pfs-filter-tree boost-pfs-filter-tree-v" >{% include 'boost-pfs-filter-skeleton', type: 'filter-tree'  %}</div>         
                    </div>
                </div>
            </div>

            {%- paginate collection.products by items_per_page -%}
                <div class="layout__section">
                    <div class="collection">
                        {%- unless collection.template_suffix == 'brands' -%}
                            {%- if section.settings.show_collection_image and collection.image and collection.all_products_count > 0 -%}
                                {%- if section.settings.collection_image_size == 'preserve_ratio' -%}
                                {%- capture supported_sizes -%}{%- render 'image-size', sizes: '400,500,600,700,800,900,1000, 1200, 1400, 1600', image: collection.image -%}{%- endcapture -%}
                                {%- assign image_url = collection.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

                                <div class="collection__image-wrapper collection__image-wrapper--preserve-ratio">
                                    <div class="aspect-ratio" style="padding-bottom: {{ 100.0 | divided_by: collection.image.aspect_ratio }}%">
                                    <img class="lazyload image--fade-in" data-src="{{ image_url }}" data-sizes="auto" data-widths="[{{ supported_sizes }}]" alt="{{ collection.image.alt | escape }}">
                                    </div>
                                </div>
                            {%- else -%}
                                <div class="collection__image-wrapper collection__image-wrapper--{{ section.settings.collection_image_size }}" style="background-image: url({{ collection.image | img_url: '1x1' }})">
                                    <div class="collection__image lazyload image--fade-in" data-bgset="{{ collection.image | img_url: '600x' }} 600w, {{ collection.image | img_url: '800x' }} 800w, {{ collection.image | img_url: '1000x' }} 1000w, {{ collection.image | img_url: '1200x' }} 1200w, {{ collection.image | img_url: '1500x' }} 1500w"></div>
                                </div>
                                {%- endif -%}
                            {%- endif -%}
                        {%- endunless -%}
                            
                        {%- comment -%}
                        --------------------------------------------------------------------------------------
                        TOP PART (COLLECTION INFO + TOOLBAR)
                        --------------------------------------------------------------------------------------
                        {%- endcomment -%}

                        <div class="card">

                            <div class="collection__dynamic-part">
                                <div class="collection__toolbar {% if collection.description != blank %}collection__toolbar--bordered{% endif %}">
                                    <button class="collection__toolbar-item collection__toolbar-item--filter hidden-lap-and-up" data-action="open-drawer" aria-haspopup="true" aria-expanded="false" aria-controls="mobile-collection-filters">
                                        <span class="collection__filter-icon">{%- include 'icon' with 'filter' -%}</span>
                                        {{ 'collection.filter.title' | t }}
                                    </button>

                                    <div class="collection__toolbar-item collection__toolbar-item--count hidden-pocket">
                                        <span class="boost-pfs-filter-total-product collection__showing-count hidden-pocket hidden-lap"></span> 
                                        {% comment %}
                                        <div class="boost-pfs-filter-top-show-limit value-picker-wrapper"></div>        
                                        {% endcomment %}
                                    </div> 

                                    <div class="collection__toolbar-item collection__toolbar-item--sort">
                                        <div class="value-picker-wrapper boost-pfs-filter-top-sorting">
                                        </div>
                                    </div>

                                    <div class="collection__toolbar-item collection__toolbar-item--layout">
                                        <span class="collection__layout-label hidden-phone">{{ 'collection.layout.title' | t }}</span>

                                        {%- if section.settings.default_view_layout == 'grid' -%}
                                        <button type="button" class="collection__layout-button {% if view_mode == 'grid' %}is-selected{% endif %} link touch-area" aria-label="{{ 'collection.layout.grid' | t }}" data-action="change-layout" data-layout-mode="grid">{% include 'icon' with 'grid' %}</button>
                                        <button type="button" class="collection__layout-button {% if view_mode == 'list' %}is-selected{% endif %} link touch-area" aria-label="{{ 'collection.layout.list' | t }}" data-action="change-layout" data-layout-mode="list">{% include 'icon' with 'list' %}</button>
                                        {%- else -%}
                                        <button type="button" class="collection__layout-button {% if view_mode == 'list' %}is-selected{% endif %} link touch-area" aria-label="{{ 'collection.layout.list' | t }}" data-action="change-layout" data-layout-mode="list">{% include 'icon' with 'list' %}</button>
                                        <button type="button" class="collection__layout-button {% if view_mode == 'grid' %}is-selected{% endif %} link touch-area" aria-label="{{ 'collection.layout.grid' | t }}" data-action="change-layout" data-layout-mode="grid">{% include 'icon' with 'grid' %}</button>
                                        {%- endif -%}
                                    </div>
                                </div>

                                {%- comment -%}
                                --------------------------------------------------------------------------------------
                                COLLECTION PRODUCTS
                                --------------------------------------------------------------------------------------
                                {%- endcomment -%}

                                {%- if view_mode == 'grid' -%}
                                {%- assign show_as_list = false -%}
                                {%- else -%}
                                {%- assign show_as_list = true -%}
                                {%- endif -%}

                                <div class="boost-pfs-filter-products product-list product-list--collection">
                                {%- for product in collection.products -%}
                                    {%- include 'product-item', list: show_as_list, grid_classes: grid_classes -%}
                                {%- endfor -%}
                                </div>
                                <div class="boost-pfs-filter-bottom-pagination pagination"></div>
                                <div class="boost-pfs-filter-load-more"></div>
                            </div>
                        </div>
                    </div>
                </div>
            {%- endpaginate -%}
        </div>    

        {%- comment -%}
        --------------------------------------------------------------------------------------
        MOBILE FILTER SIDEBAR
        --------------------------------------------------------------------------------------
        {%- endcomment -%}

        <div id="mobile-collection-filters" class="drawer" aria-hidden="true">
            <div class="drawer__inner">
            <div class="collection-drawer">
                <header class="collection-drawer__header">
                <div>
                    <button class="collection-drawer__close" data-action="close-drawer">{% include 'icon' with 'close' %}</button>
                </div>
                </header>

                <div class="collection-drawer__inner">       
                <p class="collection-drawer__section-title">{{ 'collection.filter.all' | t }}</p>
                <div class="boost-pfs-filter-tree boost-pfs-filter-tree-v"></div>                 
                </div>

                <div class="collection-drawer__footer">
                <button class="button button--primary button--small button--full" data-action="close-drawer">{{ 'collection.filter.view_results' | t }}</button>
                </div>
            </div>
            </div>
        </div>

        {%- comment -%}
        --------------------------------------------------------------------------------------
        QUICK VIEW CONTAINER
        --------------------------------------------------------------------------------------
        {%- endcomment -%}
        <div id="modal-quick-view-{{ section.id }}-template" class="modal" aria-hidden="true">
            <div class="modal__dialog modal__dialog--stretch" role="dialog">
            <button class="modal__close link" data-action="close-modal">{%- include 'icon' with 'close' -%}</button>

            <div class="modal__loader">
                {%- include 'icon' with 'search-loader' -%}
            </div>

            <div class="modal__inner"></div>
            </div>
        </div>
    </div>
</section>

<script>
    // Declare boostPFSConfig variable
    var boostPFSConfig = {
        label: {
            sorting: {% assign temp = 'collection.sorting.title' | t  %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Sort by: " {% endunless %},
            sorting_best_selling: {% assign temp = 'shopify.collections.sorting.best_selling' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Best Selling" {% endunless %},
            sorting_featured: {% assign temp = 'shopify.collections.sorting.manual' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Featured" {% endunless %},
            sorting_title_ascending: {% assign temp = 'shopify.collections.sorting.az' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Alphabetically, A-Z" {% endunless %},
            sorting_title_descending: {% assign temp = 'shopify.collections.sorting.za' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Alphabetically, Z-A" {% endunless %},
            sorting_price_ascending: {% assign temp = 'shopify.collections.sorting.price_ascending' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Lowest Price" {% endunless %},
            sorting_price_descending: {% assign temp = 'shopify.collections.sorting.price_descending' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Highest Price" {% endunless %},
            sorting_date_ascending: {% assign temp = 'shopify.collections.sorting.date_ascending' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Date, Old to New" {% endunless %},
            sorting_date_descending: {% assign temp = 'shopify.collections.sorting.date_descending' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Date, New to Old" {% endunless %},
            sorting_sale_descending: {% assign temp = 'shopify.collections.sorting.sale_descending' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "% Off" {% endunless %},
            sorting_relevance: {% assign temp = 'shopify.collections.sorting.relevance' | t %} {% unless temp contains 'translation missing'  %} "{{ temp }}" {% else %} "Relevance" {% endunless %},      
                
            previous_page: "{{ 'general.pagination.previous_page' | t }}",
            next_page: "{{ 'general.pagination.next_page' | t }}",
            add_to_cart: "{{ 'collection.product.add_to_cart' | t }}",
            quick_view: "{{ 'collection.product.quick_view' | t }}",
            choose_options: "{{ 'collection.product.choose_options' | t }}",
            sold_out: "{{ 'collection.product.sold_out' | t }}",
            in_stock: "{{ 'collection.product.in_stock' | t }}",
            
            from: "{{ 'collection.product.from_price_html' | t }}",
            sale: "{{ 'collection.product.discount_html' | t }}",
            products_count: {
                one: "{{ 'collection.general.products_count.one' | t }}",
                other: "{{ 'collection.general.products_count.other' | t }}",
            },
            showing_count: {
                zero: "{{ 'collection.general.showing_count.zero' | t }}",
                one:  "{{ 'collection.general.showing_count.one' | t }}",
                other: "{{ 'collection.general.showing_count.other' | t }}",
            },
            low_stock_with_quantity_count: {
                one: "{{ 'collection.product.low_stock_with_quantity_count.one' | t }}",
                other: "{{ 'collection.product.low_stock_with_quantity_count.other' | t }}",
            },
            in_stock_with_quantity_count: {
                one: "{{ 'collection.product.in_stock_with_quantity_count.one' | t }}",
                other: "{{ 'collection.product.in_stock_with_quantity_count.one' | t }}",
            },    
            search_title_with_terms: "{{ 'search.general.title_with_terms' | t }}",
            sorting_accessibility_close: "{{ 'general.accessibility.close' | t }}",
            display: {{ 'collection.general.display' | t | json }},
            page_size:{{ 'collection.general.page_size' | t | json }},
        },
        custom: {
            products_per_page: {% if section.settings.default_products_per_page %} {{ section.settings.default_products_per_page | json }} {% else %} 24 {% endif %},
            products_per_row: {% if section.settings.products_per_row %} {{ section.settings.products_per_row }} {% else %} 4 {% endif %},
            show_vendor: {% if settings.show_vendor %} {{ settings.show_vendor | json }} {% else %} false {% endif %},
            show_secondary_image: {% if settings.show_secondary_image %} {{ settings.show_secondary_image | json }} {% else %} false {% endif %},
            show_discount: {% if settings.show_discount %} {{ settings.show_discount | json }} {% else %} false {% endif %},
            discount_mode: {% if settings.discount_mode %} {{ settings.discount_mode | json }} {% else %} 'saving' {% endif %},
            show_filter_color_swatch: {% if section.settings.show_filter_color_swatch %} {{ section.settings.show_filter_color_swatch | json }} {% else %} true {% endif %},  
            show_reviews_badge: {% if settings.show_reviews_badge %} {{ settings.show_reviews_badge | json }} {% else %} false {% endif %},      
            product_price_position: {% if settings.product_price_position %} {{ settings.product_price_position | json }} {% else %} 'after_title' {% endif %},
            product_image_size: {% if settings.product_image_size %} {{ settings.product_image_size | json }} {% else %} 'natural' {% endif %},
            show_inventory_quantity: {% if settings.show_inventory_quantity %} {{ settings.show_inventory_quantity | json }} {% else %} false {% endif %},
            low_inventory_threshold: {% if settings.low_inventory_threshold %} {{ settings.low_inventory_threshold | json }} {% else %} 0 {% endif %},     
            show_quick_view: {% if section.settings.show_quick_view %} {{ section.settings.show_quick_view | json }} {% else %} 'list' {% endif %},
            show_quick_buy: {% if section.settings.show_quick_buy %} {{ section.settings.show_quick_buy | json }} {% else %} 'list' {% endif %},
            show_sorting: true,
            show_color_swatch: {% if settings.show_color_swatch  %} {{ settings.show_color_swatch | json }} {% else %} false {% endif %},
            currency_conversion_enabled: {% if settings.currency_conversion_enabled %} {{ settings.currency_conversion_enabled | json }} {% else %} false {% endif %},
            template: {{ section.id | json }},
            promo: null,
            bundle: null
        }
    };

    {%- for block in section.blocks -%}
        {%- if block.type == "promo" -%}
            {% assign promo_collection = collections[block.settings.collection] %}

            let = position = {{ block.settings.position_desktop | json }} 
            if (window.innerWidth >= 641 && window.innerWidth < 999){
                position = {{ block.settings.position_tablet | json }}
            }
            else if (window.innerWidth <= 640){
                position = {{ block.settings.position_mobile | json }} 
            }        
            boostPFSConfig.custom[{{ block.type | json }}] = {
                collection: {{ block.settings.collection | json }},
                position: position,
                image: {{ block.settings.image | json }},
                mobileImage: {{ block.settings.image_mobile | json }},
                title: {{ block.settings.title | json }},
                products: [
                    {%- for product in promo_collection.products limit: 10 -%}
                        {{ product | json }}
                        {%- unless forloop.last -%},{%- endunless -%}
                    {%- endfor -%}
                ]   
            };
        {%- elsif block.type == "bundle" -%}
            boostPFSConfig.custom.bundle = {"products": []}
            boostPFSConfig.custom.bundle.title = "{{ block.settings.title | default: "Offer Bundles" }}"
            boostPFSConfig.custom.bundle.description = "{{ block.settings.description | default: "Enhance Your Practice with These Yoga Product Bundles" }}"
            {% assign selectCollection = block.settings.collection %}
            {% if collection.metafields.custom.bundle_products %}
                {% for bundle_product in collection.metafields.custom.bundle_products.value limit: block.settings.limit %}
                    boostPFSConfig.custom.bundle.products.push({{ bundle_product | json }})
                {% endfor %}
            {% elsif selectCollection %}
                {% for bundle_product in selectCollection.products limit: block.settings.limit %}
                    console.log("bundle-product-information")
                    boostPFSConfig.custom.bundle.products.push({{ bundle_product | json }})
                {% endfor %}
            {% endif %}
        {%- endif -%} 
    {%- endfor -%}
</script>
{% schema %}
    {
        "name": "Collection page",
        "settings": [
            {
                "type": "checkbox",
                "id": "show_collection_image",
                "label": "Show collection image",
                "default": true
            }, {
                "type": "checkbox",
                "id": "collapse_collection_description",
                "label": "Collapse long description",
                "default": false
            }, {
                "type": "select",
                "id": "collection_image_size",
                "label": "Collection image size",
                "options": [
                    {
                        "value": "preserve_ratio",
                        "label": "Original image ratio"
                    }, {
                        "value": "small",
                        "label": "Small"
                    }, {
                        "value": "medium",
                        "label": "Medium"
                    }, {
                        "value": "large",
                        "label": "Large"
                    }
                ],
                "default": "small"
            }, {
                "type": "select",
                "id": "products_per_row",
                "label": "Products per row (desktop)",
                "options": [
                    {
                        "value": "3",
                        "label": "3"
                    }, {
                        "value": "4",
                        "label": "4"
                    }
                ],
                "default": "4"
            }, {
                "type": "range",
                "id": "default_products_per_page",
                "label": "Default products per page",
                "min": 24,
                "max": 48,
                "step": 12,
                "default": 24
            }, {
                "type": "select",
                "id": "default_view_layout",
                "label": "Default view layout",
                "options": [
                    {
                        "value": "grid",
                        "label": "Grid"
                    }, {
                        "value": "list",
                        "label": "List"
                    }
                ],
                "default": "grid"
            }, {
                "type": "select",
                "id": "show_quick_buy",
                "label": "Show quick buy on...",
                "options": [
                    {
                        "value": "list",
                        "label": "List view"
                    }, {
                        "value": "list_grid",
                        "label": "List and grid views"
                    }
                ],
                "default": "list"
            }, {
                "type": "select",
                "id": "show_quick_view",
                "label": "Show quick view on...",
                "options": [
                    {
                        "value": "list",
                        "label": "List view"
                    }, {
                        "value": "list_grid",
                        "label": "List and grid views"
                    }
                ],
                "default": "list"
            }, {
                "type": "header",
                "content": "Sidebar"
            }, {
                "type": "link_list",
                "id": "quick_links",
                "label": "Quick links",
                "info": "This menu has limited support for dropdown items."
            }, {
                "type": "checkbox",
                "id": "quick_links_show_products_count",
                "label": "Show products count",
                "info": "Only for collection links",
                "default": true
            }, {
                "type": "header",
                "content": "Filtering"
            }, {
                "type": "checkbox",
                "id": "show_filters",
                "label": "Show filters",
                "default": true
            }, {
                "type": "checkbox",
                "id": "show_filter_color_swatch",
                "label": "Show filter color swatch",
                "info": "Requires filter type \"By group\" to be selected.",
                "default": true
            }, {
                "type": "select",
                "id": "filter_type",
                "label": "Filter type",
                "info": "Filters by group requires specific tag formatting. [Learn more](https://help.shopify.com/manual/using-themes/themes-by-shopify/supply#product-tips-tips-specific)",
                "options": [
                    {
                        "value": "tag",
                        "label": "By tag"
                    }, {
                        "value": "group",
                        "label": "By group"
                    }
                ],
                "default": "tag"
            }, {
                "type": "select",
                "id": "open_group_filters_mode",
                "label": "Filter opening mode (desktop)",
                "options": [
                    {
                        "value": "all_closed",
                        "label": "All closed"
                    }, {
                        "value": "all_open",
                        "label": "All open"
                    }, {
                        "value": "first_open",
                        "label": "First open"
                    }
                ],
                "default": "all_closed"
            }, {
                "type": "text",
                "id": "filter_group_order",
                "label": "Group order",
                "info": "List items must be identical to the group name. If left empty, all groups will be displayed in alphabetical order. Example: Color, Brand, Size."
            }
        ],
        "blocks": [
            {
                "type": "promo",
                "name": "Promo",
                "limit": 1,
                "settings": [
                    {
                        "type": "collection",
                        "id": "collection",
                        "label": "Collection",
                        "info": "Show on specific collection only"
                    }, {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Image for Desktop"
                    }, {
                        "type": "image_picker",
                        "id": "image_mobile",
                        "label": "Image for mobile"
                    }, {
                        "type": "header",
                        "content": "Layout"
                    }, {
                        "type": "range",
                        "id": "position_desktop",
                        "label": "Show position in desktop",
                        "min": 4,
                        "max": 48,
                        "step": 4,
                        "default": 4
                    },{
                        "type": "range",
                        "id": "position_tablet",
                        "label": "Show position in tablet",
                        "min": 3,
                        "max": 36,
                        "step": 3,
                        "default": 3
                    },{
                        "type": "range",
                        "id": "position_mobile",
                        "label": "Show position in mobile",
                        "min": 2,
                        "max": 24,
                        "step": 2,
                        "default": 2
                    },
                    {
                        "type": "header",
                        "content": "Text"
                    }, {
                        "type": "richtext",
                        "id": "title",
                        "label": "Heading",
                        "default": "<p>Promotion title</p>",
                        "info": "Highlight one or two key words in your heading by italicizing them, then choose the highlight option below"
                    }
                ]

            }, {
                "type": "bundle",
                "name": "Bundle",
                "limit": 1,
                "settings": [
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title"
                    },{
                        "type": "richtext",
                        "id": "description",
                        "label": "Description"
                    },{
                        "type": "collection",
                        "id": "collection",
                        "label": "Collection",
                        "info": "Show on specific collection only"
                    }, {
                        "type": "range",
                        "id": "limit", 
                        "min": 3,
                        "max": 8,
                        "step": 1,
                        "default": 3,
                        "label": "Choose Bundle Product Limit"
                    }
                ]
            }
            
        ]
    }
{% endschema %}
