<section>
    <div class="container container--flush">
        <!-- collection page BRANDS -->
        <div class="logo-slider-flex">
            {%- if collection.metafields.custom.collection_description != blank or  collection.metafields.custom.collection_logo != blank -%}
            <div class="logo-container">
                <header class="card__header {% unless collection.template_suffix == 'brands' %}card__header--tight{% endunless %}">
                    <div class="collection__header {% if collection.template_suffix == 'brands' %}collection__header--brand{% endif %}">
                        {% assign aNewMetafieldVar =  collection.metafields.custom.collection_description.value['collectionDesc'] %}
                        {%- if section.settings.show_collection_image and collection.image and collection.all_products_count > 0 and collection.template_suffix == 'brands' and collection.metafields.custom.collection_logo != blank -%}
                            <img src="{{collection.metafields.custom.collection_logo | img_url }}" alt=""  style="{% unless aNewMetafieldVar.first['Description'] %}margin-bottom: 0{% endunless %}">
                        {%- endif -%}
                        
                        <div class="collection__header-inner">
                            <div class="collection__meta">
                                {%- for itemValue in aNewMetafieldVar -%}
                                    <h3 class="logo-heading">{{itemValue.heading}}</h3>
                                    <div class="collection__meta-inner">
                                        <h1 class="boost-pfs-filter-collection-header collection__title heading h1">
                                            {{itemValue.Description}}
                                        </h1>
                                    </div>
                                {%- endfor -%}
                            </div>

                            {%- if collection.description != blank -%}
                            {%- assign allow_collapse_description = false -%}
                            {%- if section.settings.collapse_collection_description -%}
                                {%- assign allow_collapse_description = true -%}
                            {%- endif -%}

                            <div class="collection__description {% if allow_collapse_description %}expandable-content{% endif %}" aria-expanded="false">
                                <div class="rte boost-pfs-filter-collection-description">
                                    {{ collection.description }}
                                </div>
                                {%- if allow_collapse_description -%}
                                    <button class="expandable-content__toggle">
                                        <span class="expandable-content__toggle-icon"></span>
                                        <span class="expandable-content__toggle-text" data-view-more="{{ 'collection.general.view_more' | t | escape }}" data-view-less="{{ 'collection.general.view_less' | t | escape }}">{{- 'collection.general.view_more' | t -}}</span>
                                    </button>
                                {%- endif -%}
                            </div>
                            {%- endif -%}
                        </div>
                    </div>
                </header>
            </div>
            {%- endif -%}
            <!-- image slider start -->
            {% if collection.metafields.custom.hero_image_slider.value['slider'] != blank %}
                <div class="sliding_images_parent {% if collection.metafields.custom.collection_description == blank and collection.metafields.custom.collection_logo == blank %} slider_height {% endif%}">
                    {%- for block in collection.metafields.custom.hero_image_slider.value['slider'] -%}
                        <div class="sliding_images_container">
                            {% if block.image != blank %}
                                {% comment %} <img class="sliding_image" src="{{block.image}}" alt=""> {% endcomment %}
                                <div class="sliding_images_content" style="background-image: url({{ block.image }})">
                                    <h2>{{block.text}}</h2>
                                </div>
                                {% comment %} <p class="textOnImage">{{block.text}}</p> {% endcomment %}
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <!-- end slider -->
        </div>	    
        <!-- end page  -->
    

        {% liquid
            assign slide_block = section.blocks | where: "type", "slide"
            assign slide_block_size = slide_block | size
        %}

        <div class="testimonial-imagevide-wrap">
            {% if slide_block_size > 0 and collection.metafields.custom.show_testimonials == true %}
                <div class="testimonial">
                    {%- for block in section.blocks -%}
                        {%- if block.type == "slide" -%}
                            <div class="rating-message">
                                <div class="two">
                                    {% assign count_gold_stars = block.settings.star_rating %}
                                    {% assign range_gold_stars = (1..count_gold_stars) %}
                                    {% assign count_grey_stars = block.settings.star_rating | minus: '5' | abs %}
                                    {% assign range_grey_stars = (1..count_grey_stars) %}
                                    {% for count in range_gold_stars  %} 
                                        {%- render 'icon', icon: 'star-gold' -%}
                                    {% endfor %}
                                    {% for count in range_grey_stars  %}
                                        {%- render 'icon', icon: 'star-gray' -%}
                                    {% endfor %}
                                </div>

                                {%- if block.settings.review-Message != blank -%}
                                <h2 class="review-message">{{ block.settings.review-Message }}</h2>
                                {%- endif -%}
                            </div>
                        {%- endif -%}
                    {%-endfor-%}
                </div>
            {% endif %}
            <!-- end part -->
            <!-- image and video part -->

            <div class="image-video-container">            
                {%- for block in collection.metafields.custom.image_and_video.value['imageVideoFlex'] -%} 
                    <div class="items image-item">
                        {%- if collection.metafields.custom.image_and_video != blank -%}
                            <div class="image-flex-one">
                                <img class="image-flex" src="{{block.image}}">
                                <p class="image-item-text">{{block.textOnImage}}</p>
                            </div>
                        {%- endif -%}

                        <div class="image-flex-two">
                            <p class="text-below-image imagetext">{{block.text1}}</p>
                        </div>
                    </div>
                    {%- if block.video != blank -%}
                        <div class="items video-item">
                            <div class="video-sec video-flex-one">
                                <img class="image-flex" src="{{block.image1}}">
                                <button class="video-control">
                                    <span class="video-control-play">
                                        <span class="video-control-symbol play-btn" id="myBtn" aria-hidden="true">
                                            <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path opacity="0.401" d="M32 64C49.6731 64 64 49.6731 64 32C64 14.3269 49.6731 0 32 0C14.3269 0 0 14.3269 0 32C0 49.6731 14.3269 64 32 64Z" fill="white"/>
                                                <path d="M45.2864 30.304C46.5397 31.0873 46.5397 32.9127 45.2864 33.696L27.06 45.0875C25.7279 45.9201 24 44.9624 24 43.3915V20.6085C24 19.0376 25.7279 18.0799 27.06 18.9125L45.2864 30.304Z" fill="white"/>
                                            </svg>
                                        </span>
                                    </span>
                                    <!-- <span class="video-control-pause">
                                        <span class="video-control-symbol pause-btn" aria-hidden="true">||</span>
                                    </span> -->
                                </button>
                            </div>
                            <div class="video-flex-two">
                                <p class="text-below-image">{{block.text2}}</p>
                            </div>
                        </div>
                    {%- endif -%}
                {%- endfor -%}
            </div>
        </div>

        <div id="size-container">

            <div id="size-chart" class="mfp-hide">
            <span class="close">
                <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width="24px" height="24px"><path d="M 4.7070312 3.2929688 L 3.2929688 4.7070312 L 10.585938 12 L 3.2929688 19.292969 L 4.7070312 20.707031 L 12 13.414062 L 19.292969 20.707031 L 20.707031 19.292969 L 13.414062 12 L 20.707031 4.7070312 L 19.292969 3.2929688 L 12 10.585938 L 4.7070312 3.2929688 z"/></svg>
            </span>
            <div class="main-chart-container">
                {%- for block in collection.metafields.custom.image_and_video.value['imageVideoFlex'] -%}
                    <video class="video-part" controls><source src="{{block.video}}" type="video/mp4"></video>
                {%- endfor -%}
            </div>
            </div>
        
        </div>
        <!-- end image and video part -->
    </div>
</section>


{% schema %}
    {
        "name": "Collection Brand Heading",
        "settings": [
            {
                "type": "checkbox",
                "id": "show_collection_image",
                "label": "Show collection image",
                "default": true
            }
        ],
        "blocks": [
            {
                "type": "slide",
                "name": "Review Testimonial",
                "settings": [
                    {
                        "type": "range",
                        "id": "star_rating",
                        "label": "Star Rating",
                        "min": 0,
                        "max": 5,
                        "step": 1,
                        "default": 5
                    },
                    {
                        "type": "range",
                        "id": "rating-size",
                        "min": 10,
                        "max": 60,
                        "step": 1,
                        "unit": "px",
                        "label": "Rating Font Size",
                        "default": 10
                    },
                    {
                        "type": "richtext",
                        "id": "review-Message",
                        "label": "Message"
                    }
                ]
            }
        ]
    }
{% endschema %}
