{%- liquid 
    assign brandReviewData = collection.metafields.custom.reviews_data.value
-%}

{% style %}
.logo-slider-flex-desktop .logo-container{
    background: {{ collection.metafields.custom.color_schema.value.background_color }};

}
.logo-slider-flex-desktop .logo-container .metafield-multi_line_text_field{
    color: {{ collection.metafields.custom.color_schema.value.text_color }};
}
@media screen and (min-width: 481px) and (max-width: 767px){
    span.metafield-multi_line_text_field {
        font-size: 15px;
        line-height: initial;
    }
    .collection__meta .collection__title{
        line-height: 50%;
    }
}
{% endstyle %}

<section>
    <div class="container container--flush collectionBrandContainer">
        <!-- collection page BRANDS -->
        <div class="logo-slider-flex">
            <div class="logo-slider-flex-desktop">
                {% if collection.metafields.custom.collection_hero_section.value.hero_logo != blank or collection.metafields.custom.collection_hero_section.value.description != blank %}
                    <div class="logo-container">
                        <header class="card__header">
                            {% if collection.metafields.custom.collection_hero_section.value.hero_logo != blank %}
                            <div class="collection__header collection__header--brand">
                                <img
                                    src="{{ collection.metafields.custom.collection_hero_section.value.hero_logo | img_url : 'master' }}"
                                    style="{% unless collection.metafields.custom.collection_hero_section.value.description %}margin-bottom: 0{% endunless %}"
                                >
                           </div>
                           <h1 class="title-hide">{{collection.title}}</h1> 
                            {% endif %}
                            <div class="collection__header-inner">
                                <div class="collection__meta">
                                    <h3 class="logo-heading">
                                        {{collection.title}}
                                    </h3>
                                    <div class="collection__meta-inner">
                                        <h1 class="boost-pfs-filter-collection-header brand_collection_title collection__title heading h1 ssss">
                                            <p>{{ collection.metafields.custom.collection_hero_section.value.description | metafield_tag }}<p>
                                        </h1>
                                    </div>
                                </div>
                            </div>
                        </header>
                    </div>
                {% endif %}
            </div>
            <div class="logo-slider-flex-mobile">
                {% if collection.metafields.custom.collection_hero_section.value.hero_logo != blank or collection.metafields.custom.collection_hero_section.value.description != blank or collection.title != blank %}
                    <div class="logo-container logo-slider-flex-mobile">
                        <header class="card__header">
                            {% if collection.metafields.custom.collection_hero_section.value.hero_logo != blank %}
                            <div class="collection__header collection__header--brand">
                                <img
                                    src="{{ collection.metafields.custom.collection_hero_section.value.hero_logo | img_url : 'master' }}"
                                    style="{% unless collection.metafields.custom.collection_hero_section.value.description %}margin-bottom: 0{% endunless %}"
                                >
                            </div>
                            {% endif %}
                            <div class="collection__header-inner">
                                <div class="collection__meta">
                                    <h3 class="logo-heading">
                                        {{collection.title}}
                                    </h3>
                                    <div class="collection__meta-inner">
                                        <h1 class="boost-pfs-filter-collection-header collection__title heading h1">
                                            {{ collection.metafields.custom.collection_hero_section.value.description | metafield_tag }}
                                        </h1>
                                    </div>
                                </div>
                            </div>
                        </header>
                    </div>
                {% endif %}
            </div>

            <!-- image slider start -->
            {% if collection.metafields.custom.collection_header_slider.value %}
                <div class="sliding_images_parent {% if collection.metafields.custom.collection_description == blank and collection.metafields.custom.collection_logo == blank %} slider_height {% endif%}"
                     style="{% unless collection.metafields.custom.collection_hero_section.value.hero_logo != blank or collection.metafields.custom.collection_hero_section.value.description != blank %}height: 300px !important{% endunless %}"
                >
                    {%- for block in collection.metafields.custom.collection_header_slider.value -%}
                        <div class="sliding_images_container sliderimage-desktop">
                            {% if block.image != blank %}
                                <div class="sliding_images_content" style="background-image: url({{ block.image | img_url : 'master'}})">
                                    <h2>{{ block.description | metafield_tag }}</h2>
                                </div>
                            {% endif %}
                        </div>
                        <div class="sliding_images_container sliderimage-mobile">
                            {% if block.mobile_image != blank %}
                            <div class="sliding_images_content" style="background-image: url({{ block.mobile_image | img_url : 'master'}})">
                                <h2>{{ block.description | metafield_tag }}</h2>
                            </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <!-- end slider -->
        </div>	    
        <!-- end page  -->

        {% liquid
            assign slide_block = section.blocks | where: "type", "slide"
            assign slide_block_size = slide_block | size
        %}

        <div class="testimonial-imagevide-wrap testimonial_imagevide_parent">
            {% if brandReviewData.count > 0 %}
                <div class="testimonial">
                    {% for items in brandReviewData %}
                        <div class="rating-message">
                            <div class="two">
                                {% assign itemsInteger = items.star_reviews %}
                                {% assign count_gold_stars = block.settings.star_rating %}
                                {% assign range_gold_stars = (1..itemsInteger) %}
                                {% assign count_grey_stars = itemsInteger | minus: '5' | abs %}
                                {% assign range_grey_stars = (1..count_grey_stars) %}
                                {% for count in range_gold_stars  %} 
                                    {%- render 'icon', icon: 'star-gold' -%}
                                {% endfor %}
                                {% for count in range_grey_stars  %}
                                    {%- render 'icon', icon: 'star-gray' -%}
                                {% endfor %}
                            </div>

                            {%- if items.testimonials != blank -%}
                                <h2 class="review-message">{{ items.testimonials }}</h2>
                            {%- endif -%}
                        </div>
                    {% endfor %}
                </div> 
            {% endif %}
            <!-- end part -->
            <!-- image and video part -->

            <div class="image-video-container">    
                {% for block in collection.metafields.custom.image_video_section.value %}
                    {%- if block.video_url == blank -%}
                        <div class="items image-item">
                            <div class="image-flex-one">
                                <img class="image-flex" src="{{ block.image | img_url : 'master' }}">
                                <p class="image-item-text">
                                    {{ block.title }}
                                </p>
                            </div>
                            {% if block.description %}
                                <div class="image-flex-two">
                                    <p class="text-below-image imagetext">
                                        {{ block.description | metafield_tag }}
                                    </p>
                                </div>
                            {% endif %}
                        </div>
                    {% else %}
                        <div class="items video-item">
                            <div class="video-sec video-flex-one">
                                <img class="image-flex" src="{{ block.image | img_url : 'master' }}">
                                <button class="video-control" data-video-src="{{ block.video_url }}" data-video-button>
                                    <span class="video-control-play">
                                        <span class="video-control-symbol play-btn" aria-hidden="true">
                                            <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path opacity="0.401" d="M32 64C49.6731 64 64 49.6731 64 32C64 14.3269 49.6731 0 32 0C14.3269 0 0 14.3269 0 32C0 49.6731 14.3269 64 32 64Z" fill="white"/>
                                                <path d="M45.2864 30.304C46.5397 31.0873 46.5397 32.9127 45.2864 33.696L27.06 45.0875C25.7279 45.9201 24 44.9624 24 43.3915V20.6085C24 19.0376 25.7279 18.0799 27.06 18.9125L45.2864 30.304Z" fill="white"/>
                                            </svg>
                                        </span>
                                    </span>
                                </button>
                            </div>
                            {% if block.description %}
                                <div class="video-flex-two">
                                    <p class="text-below-image">
                                        {{ block.description | metafield_tag }}
                                    </p>
                                </div>
                            {% endif %}
                        </div>
                    {%- endif -%}
                {% endfor %}
            </div>
        </div>

        <div id="video--container" style="display: none;">
            <div id="size-chart" class="mfp-hide">
                <span class="close">
                    <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width="24px" height="24px"><path d="M 4.7070312 3.2929688 L 3.2929688 4.7070312 L 10.585938 12 L 3.2929688 19.292969 L 4.7070312 20.707031 L 12 13.414062 L 19.292969 20.707031 L 20.707031 19.292969 L 13.414062 12 L 20.707031 4.7070312 L 19.292969 3.2929688 L 12 10.585938 L 4.7070312 3.2929688 z"/></svg>
                </span>
                <div class="main-chart-container">
                    <video class="video-part" controls>
                        <source src="" type="video/mp4">
                    </video>
                </div>
            </div>    
        </div>
    </div>
</section>


{% schema %}
    {
        "name": "Collection Brand Heading",
        "settings": [
            {
                "type": "checkbox",
                "id": "show_collection_image",
                "label": "Show collection image",
                "default": true
            }
        ],
        "blocks": [
            {
                "type": "slide",
                "name": "Review Testimonial",
                "settings": [
                    {
                        "type": "range",
                        "id": "star_rating",
                        "label": "Star Rating",
                        "min": 0,
                        "max": 5,
                        "step": 1,
                        "default": 5
                    }, {
                        "type": "range",
                        "id": "rating-size",
                        "min": 10,
                        "max": 60,
                        "step": 1,
                        "unit": "px",
                        "label": "Rating Font Size",
                        "default": 10
                    }, {
                        "type": "richtext",
                        "id": "review-Message",
                        "label": "Message"
                    }
                ]
            }
        ],
        "presets": [
            {
                "category": "Collection",
                "name": "Collection Brand Heading",
                "settings": {}
            }
        ]
    }
{% endschema %}
